@model IEnumerable<AppLibrary.Models.Cart2>

<h1>Giỏ hàng</h1>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.Fullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.ProductName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Fullname)
                </td><td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                <form asp-controller="OrderDetails" asp-action="Create" method="get">
                    <input type="submit" value="Mua" class="btn btn-primary" />
                </form>
                @*<td>
                    <a asp-route="" asp-action="Delete" asp-route-id="@item.">Xóa</a>
                </td>*@
            </tr>
        }

    </tbody>
</table>