@model IEnumerable<AppLibrary.Models.Cart>
<table class ="table">
    <thead>
        <tr>
            <th>
                Tên
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.ProductName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    Bạn
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Product.ProductName)
                </td>
                <td>
                    <a asp-controller="Products" asp-action="Buy" asp-route-proId="@item.ProductId">Mua</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductId">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>