@model IEnumerable<AppLibrary.Models.OrderDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Product)
            </th>*@
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.Id)
            </td>
            <td>
                @if(item.Order.Status == 1){
                        <h5>Pending ... </h5>
                    }
                    else if (item.Order.Status == 2)
                    {
                        <h5>Packing ... </h5>
                    }
                    else if (item.Order.Status == 3)
                    {
                        <h5>Delivering ... </h5>
                    }
                    else if (item.Order.Status >= 4)
                    {
                        <h5 style="color: green">Complete</h5>
                    }
            </td>
            <td>
                    @if (item.Order.Status == 1)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Hủy đơn hàng</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
